In [3]:
import pandas as pd
pd.set_option("display.max_column",5)
df=pd.read_excel("Marks.xlsx")
print(df)                                                                                                                                                                                                                                                                    n

   S.NO  ROLL NO  ...  SOCIAL  TOTAL
0     1        1  ...    87.0    428
1     2        2  ...    56.0    402
2     3        3  ...    90.0    465
3     4        4  ...    76.0    432
4     5        5  ...    98.0    453
5     6        6  ...     NaN    435
6     7        7  ...    85.0    456
7     8        8  ...     NaN    465
8     9        9  ...    87.0    432
9    10       10  ...    88.0    437

[10 rows x 8 columns]

In [4]:
k=df.fillna(method='pad')
print(k)
print("\n Updated line\n")
k.to_excel("Marks.xlsx")

   S.NO  ROLL NO  ...  SOCIAL  TOTAL
0     1        1  ...    87.0    428
1     2        2  ...    56.0    402
2     3        3  ...    90.0    465
3     4        4  ...    76.0    432
4     5        5  ...    98.0    453
5     6        6  ...    98.0    435
6     7        7  ...    85.0    456
7     8        8  ...    85.0    465
8     9        9  ...    87.0    432
9    10       10  ...    88.0    437

[10 rows x 8 columns]

 Updated line

<ipython-input-4-29b3160a591b>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  k=df.fillna(method='pad')

In [5]:
k.drop(['SOCIAL'],axis=1,inplace=True)
print(k)
k.to_excel("Marks.xlsx")

   S.NO  ROLL NO  ...  SCIENCE  TOTAL
0     1        1  ...     89.0    428
1     2        2  ...     78.0    402
2     3        3  ...     90.0    465
3     4        4  ...     75.0    432
4     5        5  ...     90.0    453
5     6        6  ...     56.0    435
6     7        7  ...     56.0    456
7     8        8  ...     87.0    465
8     9        9  ...     87.0    432
9    10       10  ...     90.0    437

[10 rows x 7 columns]

In [8]:
print("\n Drop NaN row.\n")
df=pd.read_excel("Marks1.xlsx")
print(df)
x=df.dropna()
print(x)
x.to_excel("Marks1.xlsx")

 Drop NaN row.

   Unnamed: 0  S.NO  ...  SOCIAL  TOTAL
0           0     1  ...      87    428
1           1     2  ...      56    402
2           3     4  ...      76    432
3           4     5  ...      98    453
4           9    10  ...      88    437

[5 rows x 9 columns]
   Unnamed: 0  S.NO  ...  SOCIAL  TOTAL
0           0     1  ...      87    428
1           1     2  ...      56    402
2           3     4  ...      76    432
3           4     5  ...      98    453
4           9    10  ...      88    437

[5 rows x 9 columns]

In [11]:
print("\n Replace values.\n")
n=pd.read_excel("Marks.xlsx")
print(n)
y=n.replace({89:100})
print(y)
y.to_excel("Marks1.xlsx")

 Replace values.

   Unnamed: 0.2  Unnamed: 0.1  ...  SCIENCE  TOTAL
0             0             0  ...      100    428
1             1             1  ...       78    402
2             2             2  ...       90    465
3             3             3  ...       75    432
4             4             4  ...       90    453
5             5             5  ...       56    435
6             6             6  ...       56    456
7             7             7  ...       87    465
8             8             8  ...       87    432
9             9             9  ...       90    437

[10 rows x 10 columns]
   Unnamed: 0.2  Unnamed: 0.1  ...  SCIENCE  TOTAL
0             0             0  ...      100    428
1             1             1  ...       78    402
2             2             2  ...       90    465
3             3             3  ...       75    432
4             4             4  ...       90    453
5             5             5  ...       56    435
6             6             6  ...       56    456
7             7             7  ...       87    465
8             8             8  ...       87    432
9             9             9  ...       90    437

[10 rows x 10 columns]

In [16]:
df=pd.read_excel("Marks1.xlsx")
print(df)
print("\n Extract is in() function:\n")
new=df['SCIENCE'].isin([90])
print(df[new])

   Unnamed: 0.3  Unnamed: 0.2  ...  SCIENCE  TOTAL
0             0             0  ...      100    428
1             1             1  ...       78    402
2             2             2  ...       90    465
3             3             3  ...       75    432
4             4             4  ...       90    453
5             5             5  ...       56    435
6             6             6  ...       56    456
7             7             7  ...       87    465
8             8             8  ...       87    432
9             9             9  ...       90    437

[10 rows x 11 columns]

 Extract is in() function:

   Unnamed: 0.3  Unnamed: 0.2  ...  SCIENCE  TOTAL
2             2             2  ...       90    465
4             4             4  ...       90    453
9             9             9  ...       90    437

[3 rows x 11 columns]