In [8]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print(df)

        one       two     three
a  1.098235 -0.711045  0.159874
b  0.633903 -1.026771  1.329268
c       NaN       NaN       NaN
d -1.289081  0.286735  1.571529
e       NaN       NaN       NaN
f -0.823829 -1.872779 -0.420967

In [9]:
print(df.dropna())
print()

        one       two     three
a  1.098235 -0.711045  0.159874
b  0.633903 -1.026771  1.329268
d -1.289081  0.286735  1.571529
f -0.823829 -1.872779 -0.420967

In [12]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
print(df)
df=df.reindex(['a','b','c'])
print(df)
print(df.fillna(0))

        one       two     three
a -0.247723  0.188860 -1.363337
c  0.979806  0.705612  0.793037
d -1.238819  0.168261  0.317173
f  0.102238  0.902884 -0.111798
        one       two     three
a -0.247723  0.188860 -1.363337
b       NaN       NaN       NaN
c  0.979806  0.705612  0.793037
        one       two     three
a -0.247723  0.188860 -1.363337
b  0.000000  0.000000  0.000000
c  0.979806  0.705612  0.793037

In [24]:
df=pd.DataFrame({'one':[10,20,80,40,50],'two':[60,70,80,0,10]})
print(df)
print(df.replace({10:5,80:3}))
print()

   one  two
0   10   60
1   20   70
2   80   80
3   40    0
4   50   10
   one  two
0    5   60
1   20   70
2    3    3
3   40    0
4   50    5

In [27]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','b','c','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original Dataframe:\n",df)
print("\nNaN with true fill:\n")
print(df['one'].isnull())

Original Dataframe:
         one       two     three
a -0.824124  0.707886  0.262234
b -1.627626  2.471193  1.172057
c  1.834153 -1.244186 -1.604300
d       NaN       NaN       NaN
e       NaN       NaN       NaN
f  1.412357  0.495270 -1.393545

NaN with true fill:

a    False
b    False
c    False
d     True
e     True
f    False
Name: one, dtype: bool

In [33]:
print("NaN filled with background values:\n")
print(df.fillna(method='bfill'))

NaN filled with background values:

        one       two     three
a -0.050348 -0.891762 -1.105244
b -0.845241  1.599163 -2.013917
c  0.261864  0.752731 -0.437187
d -0.523732  0.214810  0.441877
e -0.523732  0.214810  0.441877
f -0.523732  0.214810  0.441877

In [34]:
print("NaN filled with forward values:\n")
print(df.fillna(method='ffill'))

NaN filled with forward values:

        one       two     three
a -0.050348 -0.891762 -1.105244
b -0.845241  1.599163 -2.013917
c  0.261864  0.752731 -0.437187
d  0.261864  0.752731 -0.437187
e  0.261864  0.752731 -0.437187
f -0.523732  0.214810  0.441877