In [1]:
import pandas as pd
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],index=['one','two','three'],columns=['a','b','c'])
print(df)

       a  b  c
one    1  2  3
two    4  5  6
three  7  8  9

In [5]:
df.to_excel("E:\dhananjayan.xlsx")
df.to_excel("E:\dinesh.xlsx")

In [8]:
df=pd.DataFrame([[10,20,30],[40,50,60],[70,80,90]],index=['four','five','six'],columns=['x','y','z'])
df.to_excel("E:\dhananjayan.xlsx",sheet_name="marks")

In [9]:
x=pd.read_excel("E:\dhananjayan.xlsx")
y=pd.read_excel("E:\dinesh.xlsx")
#z=x.merge(y)
z=pd.concat([x,y])
z.to_excel("E:\elan.xlsx")

In [12]:
z=pd.concat([x,y])
z.to_excel("E:\dhananjayan.xlsx")
df=z.sort_values(["x"])
print(df)
df.to_excel("E:\dhananjayan.xlsx")
df=pd.read_excel("E:\dinesh.xlsx")
print(df)
print(list(df))
print(format(len(df)))

  Unnamed: 0     x     y     z    a    b    c
0       four  10.0  20.0  30.0  NaN  NaN  NaN
1       five  40.0  50.0  60.0  NaN  NaN  NaN
2        six  70.0  80.0  90.0  NaN  NaN  NaN
0        one   NaN   NaN   NaN  1.0  2.0  3.0
1        two   NaN   NaN   NaN  4.0  5.0  6.0
2      three   NaN   NaN   NaN  7.0  8.0  9.0
   Unnamed: 0.1 Unnamed: 0     x     y     z    a    b    c
0             0       four  10.0  20.0  30.0  NaN  NaN  NaN
1             1       five  40.0  50.0  60.0  NaN  NaN  NaN
2             2        six  70.0  80.0  90.0  NaN  NaN  NaN
3             0        one   NaN   NaN   NaN  1.0  2.0  3.0
4             1        two   NaN   NaN   NaN  4.0  5.0  6.0
5             2      three   NaN   NaN   NaN  7.0  8.0  9.0
['Unnamed: 0.1', 'Unnamed: 0', 'x', 'y', 'z', 'a', 'b', 'c']
6